<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/style.css' />
    <meta charset="UTF-8">
    <title>TÜRKİYE'DE KORONAVİRÜS</title>
</head>
<body>
    <div>
        <table style="height: 100px;width=350px;background:#4189AF;">
            <tbody>
                <tr>
                    <td style="width: 350px;background:#4189AF;"><h1 style="font-size:50px">VAKA: {{ vaka }}</h1></td>
                </tr>
            </tbody>
        </table>
        <table style="height: 100px;width=350px;background:#5D6D7E;">
            <tbody>
                <tr>
                    <td style="width: 350px;background:#5D6D7E;"><h1 style="font-size:50px">ÖLÜM: {{ olum }}</h1></td>
                </tr>
            </tbody>
        </table>
        <table style="height: 100px;width=350px;background:#73C6B6;">
            <tbody>
                <tr>
                    <td style="width: 350px;background:#73C6B6;"><h1 style="font-size:50px">İYİLEŞME: {{ iyi }}</h1></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>